﻿@{
    ViewBag.Title = "Socks";
}
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

    <div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">Socks</p>
        <p>@Html.ActionLink("Hello " + User.Identity.GetUserName + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</p>
    </div>
}



